#title {
	text-align: center;
}

#ccView {
	min-height: 80vh;
}

#bottom-nav {
	display: inline-block;
	margin-bottom: 1em;
}

.table-wrap {
	overflow-y: scroll;
	max-height: 72vh;
}

.detail-title {
	text-align: center;
	margin-bottom: 1em;
}

tr:nth-child(even) {
	background-color: #eee;
}

th {
	background-color: #ccc;

}

th:first-child {
	border-radius: 3px 0 0 0;
}

th:last-child {
	border-radius: 0 3px 0 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #337ab7;
    color: #fff;
}

