
<section class="panel panel-default">
	<div class="panel-heading">	
		<h1 class="row detail-title">{{dc.country.countryName}}</h1>
	</div>
	<div class="panel-body detail-body">	
		<div class="row"><p class="col-md-6 col-md-offset-3">Population in country: {{dc.country.population | number}}</p></div>
		<div class="row"><p class="col-md-6 col-md-offset-3">Area: {{dc.country.areaInSqKm | number}}</p></div>
		<div class="row"><p class="col-md-6 col-md-offset-3">Capital: {{dc.capital}}</p></div>
		<div class="row"><p class="col-md-6 col-md-offset-3" ng-if="dc.toggleCapPop===0">Population of Capital: {{dc.capPop}}</p></div>
		<div class="row"><p class="col-md-6 col-md-offset-3" ng-if="dc.toggleCapPop===1">Population of Capital: {{dc.capPop | number}}</p></div>
		<div class="row"><p class="col-md-6 col-md-offset-3">{{dc.neighborCount}} neighbors: <span class="hand" ng-click="dc.goToCountry(neighbor)" ng-if="dc.neighbors" ng-repeat="neighbor in dc.neighbors"><a>{{neighbor.countryName}}</a>{{$last ? '' : ', '}}</span></p></div>
		<div class="row">
			<img class="flag col-md-3 col-md-offset-3" ng-src="http://www.geonames.org/flags/x/{{dc.country.countryCode | lowercase}}.gif" />
			<img class="col-md-5 col-md-offset-1 map" id='myImage' ng-src="http://www.geonames.org/img/country/250/{{dc.country.countryCode}}.png" />
		</div>
	</div>
	
</section>